<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% seo %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/assets/bookshelf.css' | relative_url }}" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700"
  />

  <!-- Favicon -->
  <link
    rel="icon"
    type="image/svg+xml"
    href="{{ '/assets/favicon.svg' | relative_url }}"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    type="image/svg+xml"
    href="{{ '/assets/favicon.svg' | relative_url }}"
  />

  <!-- Analytics -->
  <script
    async
    src="https://analytics.umami.is/script.js"
    data-website-id="14bc677a-6fea-4a45-8a0c-f254d3301f63"
  ></script>

  <!-- RSS -->
  {% feed_meta %}
</head>
