* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  color: $light-text-color;
  background-color: $light-background-color;

  &.dark-mode {
    color: $dark-text-color;
    background-color: $dark-background-color;
  }
}

html {
  font-family: $sans-serif;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 15px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $light-shade;
  font-family: $sans-serif;
  line-height: normal;

  .dark-mode & {
    color: $dark-shade;
  }
}

a {
  color: $blue;
  text-decoration: none;
}

blockquote {
  font-style: italic;
  background-color: $light-blockquote-background;
  border-left: 0.25rem solid $light-blockquote-border;
  color: $light-blockquote-text;
  margin: 0.8rem 0;
  padding: 18px;

  p:last-child {
    margin-bottom: 0;
  }

  .dark-mode & {
    background-color: $dark-blockquote-background;
    border-left: 0.25rem solid $dark-blockquote-border;
    color: $dark-blockquote-text;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
  border-radius: 3px;
}

td {
  vertical-align: top;
}

.fancy-sep {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

footer span {
  margin-right: 10px;
}

.icon-button {
  display: inline-block;
  text-decoration: none;
}

.icon-button svg {
  fill: $light-shade;
  vertical-align: bottom;
  width: 0.8em;
  height: auto;
  padding: 0;
  margin-bottom: 4px;

  .dark-mode & {
    fill: $dark-shade;
  }
}
