* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  background-color: $default-dark;
  margin: 0;
  padding: 0;
}

html {
  font-family: $sans-serif;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 15px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
}

a {
  color: $blue;
  text-decoration: none;
}

blockquote {
  font-style: italic;
  background-color: $blockquote-background;
  border-left: 0.25rem solid $blockquote-border;
  color: $blockquote-text;
  margin: 0.8rem 0;
  padding: 18px;

  p:last-child {
    margin-bottom: 0;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
  border-radius: 3px;
}

td {
  vertical-align: top;
}

.fancy-sep {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

footer span {
  margin-right: 10px;
}
