.catalogue {
  &-item {
    border-bottom: 2px solid $accent-color-dark;
    color: $default-color;
    display: block;
    padding: 1rem 0;

    .catalogue-line {
      margin-bottom: 0.5rem;
    }

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
      border-color: $accent-color;
    }

    &:hover .catalogue-title,
    &:focus .catalogue-title {
      color: $code-color;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $default-tint;
    font-family: $monospaced;
    letter-spacing: 0.5px;
  }

  &-title {
    @include transition(all 0.3s ease-out);
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-weight: 700;
    margin: 0.5rem 0;
  }

  &-subtitle {
    color: $default-tint;
    display: block;
    font-family: $sans-serif;
    font-weight: 700;
    margin: 0.5rem 0;
  }

  &-line {
    @include transition(all 0.3s ease-out);
    border-top: 0.2rem solid $default-shade;
    display: block;
    width: 2rem;
  }

  &-divider {
    border-top: 0.2rem solid $default-shade;
    display: block;
    width: 5rem;
    border-color: $accent-color;
  }
}
