.catalogue {
  &-item {
    border-bottom: 2px solid $grey-2;
    color: $light-text-color;
    display: block;
    padding: 1rem 0;

    .dark-mode & {
      border-bottom: 2px solid $dark-accent-color;
      color: $dark-text-color;

      &:hover .catalogue-line,
      &:focus .catalogue-line {
        width: 5rem;
        border-color: $dark-accent-color;
      }

      &:hover .catalogue-title,
      &:focus .catalogue-title {
        color: $dark-code-color;
      }
    }

    .catalogue-line {
      margin-bottom: 0.5rem;
    }

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
      border-color: $light-accent-color;
    }

    &:hover .catalogue-title,
    &:focus .catalogue-title {
      color: $light-accent-color;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: $light-tint;
    font-family: $sans-serif;
    letter-spacing: 0.5px;
  }

  &-title {
    @include transition(all 0.3s ease-out);
    color: $light-shade;
    display: block;
    font-family: $sans-serif;
    font-weight: 700;
    margin: 0.5rem 0;
  }

  &-subtitle {
    color: $light-tint;
    display: block;
    font-family: $sans-serif;
    font-weight: 700;
    margin: 0.5rem 0;
  }

  &-line {
    @include transition(all 0.3s ease-out);
    border-top: 0.2rem solid $light-shade;
    display: block;
    width: 2rem;
  }

  &-divider {
    border-top: 0.2rem solid $light-shade;
    display: block;
    width: 5rem;
    border-color: $light-accent-color;

    .dark-mode & {
      &-divider {
        border-color: $dark-accent-color;
      }
    }
  }
}
