.pagination {
  border-top: 2px solid $light-tint;
  font-family: $sans-serif;
  padding-top: 2rem;
  position: relative;
  text-align: center;

  .dark-mode & {
    border-top: 2px solid $dark-tint;
  }

  span {
    color: $light-shade;
    font-size: 1.1rem;
  }

  .top-button {
    @include transition(all 0.3s ease-out);
    color: $light-tint;
    font-family: $sans-serif;
    font-size: 1.1rem;

    &:hover {
      color: $light-accent-color;
    }

    .dark-mode & {
      color: $dark-tint;

      &:hover {
        color: $dark-accent-color;
      }
    }
  }

  .arrow {
    @include transition(all 0.3s ease-out);
    color: $light-tint;
    position: absolute;

    &:hover,
    &:focus {
      color: $light-accent-color;
      text-decoration: none;
    }

    .dark-mode & {
      color: $dark-tint;

      &:hover,
      &:focus {
        color: $dark-accent-color;
      }
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
