.post {
  padding: 3rem 0;

  &-info {
    color: $light-tint;
    font-family: $sans-serif;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }

    .dark-mode & {
      color: $dark-tint;
    }
  }

  &-title {
    color: $light-shade;
    font-family: $sans-serif;
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;

    .dark-mode & {
      color: $dark-shade;
    }
  }

  &-subtitle {
    color: $light-shade;
    font-family: $sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;

    .dark-mode & {
      color: $dark-shade;
    }
  }

  &-line {
    border-top: 0.4rem solid $light-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;

    .dark-mode & {
      border-top: 0.4rem solid $dark-shade;
    }
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  td > img {
    margin: 0 auto 0;
  }

  img + em {
    color: $light-tint;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;

    .dark-mode & {
      color: $dark-tint;
    }
  }

  // CSS for making emoji inline
  img.emoji {
    display: inline-block;
    left: 0;
    transform: none;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
  }

  &-newsletter {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

  &-newsletter form {
    width: 100%;
  }

  &-newsletter p {
    text-align: center;
  }
}

em {
  margin-top: 0.5rem;
}
