---
layout: default
---

<br/>
<h1 class="post-title">My Blog</h1>
<div class="post-line"></div>

<div class="catalogue">
  {% if site.posts.size == 0 %}
    <h1 class="catalogue-item">Nothing here!</h1>
  {% endif %}


  <!-- do we use the same pattern as the book macro or do we find a way to iterate here? -->
  <!-- {% for post in site.categories.costa_rica %}
      <h1>{{post.title}}</h1>
      <h4>{{post.map}}</h4>
  {% endfor %} -->

  {% include travel_post_macro.html country="Costa Rica" %}
  {% include travel_post_macro.html country="Thailand" %}

  {% for post in paginator.posts %}
    
    {% if post.title == "About Me" %}
      {% assign post_url = "/about" %}
    {% else %}
      {% assign post_url = post.url %}
    {% endif %}

    <a href="{{ post_url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        {% if post.subtitle %}
          <h2 class="catalogue-title">{{ post.title }} ⊷ {{post.subtitle}}</h2>
          
        {% else %}
          <h2 class="catalogue-title">{{ post.title }}</h2>
        {% endif %}
        <div class="catalogue-line"></div>

        <small>
          {{ post.content | strip_html | truncatewords: 30 }}
        </small>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.last_page %}
    <a href="{{ paginator.last_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
