---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %} {{ page.author }} {% else %} {{ site.author.name }} {%
    endif %} {% if page.date %}
    <br />
    <span>on&nbsp;</span>
    <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <h3 class="post-subtitle">{{ page.subtitle }}</h3>
  <div class="post-line"></div>

  {{ content }}

  <!-- <div class="post-newsletter">
    <script async data-uid="6ba2b6d413" src="https://motivated-motivator-8389.ck.page/6ba2b6d413/index.js"></script>
  </div> -->
</div>

<div class="pagination">
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">
    &#8592;
  </a>
  {% endif %} {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">
    &#8594;
  </a>
  {% endif %}
  <a href="#" class="top-button">Top</a>
</div>
