---
layout: default
---

<div class="post">
  <div class="post-info">
    {% if page.date %}
    <span>Published on</span>
    <span datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</span>
    {% endif %} {% if page.updated %}
    <div>
      <span>Updated on</span>
      <span datetime="{{ page.updated }}"
        >{{ page.updated | date: "%B %d, %Y" }}</span
      >
    </div>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <h3 class="post-subtitle">{{ page.subtitle }}</h3>
  <div class="post-line"></div>

  {{ content }}
</div>

<div class="pagination">
  {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}" class="left arrow">
    &#8592; Prev
  </a>
  {% endif %} {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}" class="right arrow">
    Next &#8594;
  </a>
  {% endif %}
  <a href="#" class="top-button">Top</a>
</div>
